h1 {
    text-align: center;
    text-transform: uppercase;
  }
  a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    background: inherit;
  }
  button {
      // min-width: 7em;
      border: none;
      padding: 8px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
    }